---
{
  "layout": "layouts/base.njk",
  "pagination": {
    "data": "collections.imagesByCategory",
    "size": 1,
    "alias": "category"
  },
  "permalink": "/{{ category.slug }}.html"
}
---
{%- from "system/component.njk" import component -%}

<header>
  <a href="/">home</a>

  <h1>
    {{ category.name }}
  </h1>
</header>

{{ component('imageList', {
  images: category.images,
  size: 'medium'
}) }}
