---
{
  "layout": "layouts/base.njk",
  "pagination": {
    "data": "collections.images",
    "size": 1,
    "alias": "image"
  },
  "permalink": "/{{ image.category.slug }}/{{ image.slug }}.html"
}
---
{%- from "system/component.njk" import component -%}

<header>
  {{ component('breadcrumbs', {
    category: image.category,
    image: image
  }) }}

  <h1>
    {{ image.title }}
  </h1>
</header>

<article>
  <img src="/{{ image.large }}" alt="{{ image.title }}">
  {% if image.description %}
    <p>{{ image.description }}</p>
  {% endif %}
  <a href="/{{ image.file }}">View Original</a>
</article>
