---
{
  "layout": "layouts/base.njk",
  "pagination": {
    "data": "collections.images",
    "size": 1,
    "alias": "image"
  },
  "permalink": "/{{ image.categorySlug }}/{{ image.slug }}.html"
}
---

<header>
  <a href="/">home</a>
  /
  <a href="/{{ image.categorySlug }}">{{ image.category }}</a>

  <h1>
    {{ image.metadata.title }}
  </h1>
</header>

<article>
  <img src="/{{ image.large }}" alt="{{ image.metadata.title }}">
  <p>{{ image.metadata.description or '' }}</p>
  <a href="/{{ image.file }}">View Original</a>
</article>
