---
{
  "layout": "layouts/base.njk",
  "permalink": "index.html"
}
---
{%- from "system/component.njk" import component -%}

<header>
  {{ component('breadcrumbs') }}
</header>

<section am-intro>
  <p>Hi! I'm <a href="https://zefirefemera.xyz">Zefir</a>. I draw portraits of things and beings, abstract compositions,
    everyday moments, different simplifications, and things <span am-nsfw-confirm-trigger onclick="confirmNsfwContent()">NSFW</span>.
    Below, you'll find some of my drawings. I'm open to comissions for personal artworks, illustrations, and various
    design projects - tattoos, logos, icons, posters, etc. <a href="mailto:zefirefemera@proton.me">HMU</a>.</p>
</section>

{% for category in collections.imagesByCategory %}
<section am-category>
  <h2 am-category-header>
    <a href="{{category.url}}">{{ category.title }}</a>
  </h2>

  {{ component('imageList', {
    images: category.images,
    size: 'small'
  }) }}
</section>
{% endfor %}
