---
{
  "layout": "layouts/base.njk",
  "permalink": "index.html"
}
---
{%- from "system/component.njk" import component -%}

{% for category in collections.imagesByCategory %}
<section am-category>
  <h2 am-category-header>
    <a am-category-header-link href="/{{category.slug}}">{{ category.name }}</a>
  </h2>

  {{ component('imageList', {
    images: category.images,
    size: 'small'
  }) }}
  {% endfor %}
</section>
