---
{
"layout": "layouts/base.njk",
"permalink": "index.html"
}
---
{%- from "system/component.njk" import component -%}

Hi wrld!

<h1>Gallery</h1>

{% for category in collections.imagesByCategory %}
<h2><a href="/{{category.slug}}">{{ category.name }}</a></h2>

{{ component('imagesList', {
  images: category.images
}) }}
{% endfor %}
