---
{
  "permalink": "search.json",
  "eleventyExcludeFromCollections": true
}
---
{
  "results": [
    {%- for image in collections.imagesByAbc %}
    {
      "url": "{{ image.url }}",
      "title": "{{ image.title }}",
      "slug": "{{ image.slug }}",
      "description": "{{ image.description }}",
      "small": "{{ image.small }}",
      "medium": "{{ image.medium }}",
      "large": "{{ image.large }}",
      "isNsfw": {{ image.isNsfw }}
    }
    {% if not loop.last %},{% endif %}
    {%- endfor %}
  ]
}
