/*
Root stuff and some variables
*/

:root {
  background-color: var(--theme-bg);
  transition: background 0.3s, color 0.3s;
  color: var(--theme-text);
  font-size: 18px;
  line-height: 2rem;
  font-family: sans-serif;
  min-width: 100%;
  min-height: 100%;
  color-scheme: light dark;

  /* Variables - colors palette */
  --c-vulcan: hsl(230deg 30% 10%);
  --c-link-water: hsl(230deg 40% 90%);
  --c-purpureus: hsl(280deg 40% 50%);
  --c-light-wisteria: hsl(280deg 45% 75%);

  /* Variables - sizes (on smaller devices) */
  --size-sm: calc(0.5rem * 0.75);
  --size-md: calc(1rem * 0.75);
  --size-lg: calc(2rem * 0.75);
  --size-xl: calc(3rem * 0.75);

  /* Variables - Light Mode theme colors */
  --theme-bg: var(--c-link-water);
  --theme-text: var(--c-vulcan);
  --theme-accent: var(--c-purpureus);
  --theme-shadow: hsl(from var(--c-vulcan) h calc(s * 2) calc(l * 0.5) / 40%);

  /* Variables - misc */
  --max-content-width: 54rem;
}

/* TODO: see if this is sensible, of if rather we should do regular @media for resizing specific selectors */
@media (width >= 1000px) {
  :root {
    /* Variables - sizes (on bigger devices) */
    --size-sm: 0.5rem;
    --size-md: 1rem;
    --size-lg: 2rem;
    --size-xl: 3rem;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Variables - Dark Mode theme colors */
    --theme-bg: var(--c-vulcan);
    --theme-text: var(--c-link-water);
    --theme-accent: var(--c-light-wisteria);
  }
}

/*
Resets and base groundwork
*/

* {
  box-sizing: border-box;
  margin: 0;
}

:focus {
  outline: 0;
}

:focus-visible {
  outline: 0.25rem solid var(--theme-accent);
}

a {
  color: inherit;
  text-decoration-style: dotted;
  border-radius: 0.25rem;
}

a:hover {
  text-decoration-style: solid;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 2px;
  box-shadow: 1px 1px 1px var(--theme-shadow);
}

p:not(:last-child) {
  margin-bottom: var(--size-md);
}

h1, h2, h3 {
  line-height: inherit;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

/*
Main layout
*/

body {
  padding: var(--size-lg);
  height: 100%;
}

[am-mainHeader] {
  margin-bottom: var(--size-xl);
  text-align: center;
}

[am-main] {
  margin-top: var(--size-xl);
  margin-bottom: var(--size-xl);
}

[am-mainFooter] {
  color: var(--theme-accent);
  margin-top: var(--size-xl);
  font-size: 0.8rem;
}

[am-mainCentered] {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-content-width);
  width: 100%;
}

/*
AMCSS Components
*/

a[am-logo] {
  display: inline-block;
  color: var(--theme-accent);
}

a[am-logo]:hover {
  color: var(--theme-text);
}

a[am-logo] svg {
  fill: currentcolor;
  width: 3rem;
  display: block;
}

[am-imageList] {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-flex;
  flex-flow: row wrap;
}

[am-imageList~="small"] {
  gap: var(--size-sm);
}

[am-imageList~="medium"] {
  gap: var(--size-md);
}

[am-imageList-item],
[am-imageList-link],
[am-imageList-image] {
  display: block;
}

[am-category] {

}

[am-category]:not(:last-of-type) {
  margin-bottom: var(--size-lg);
}

[am-category-header] {
  margin-bottom: var(--size-md);
}

[am-category-header-link] {

}

[am-breadcrumbs] {
  margin-bottom: var(--size-lg);
}

[am-breadcrumbs-active] {
  font-weight: 700;
  color: var(--theme-accent);
}
