/*
Root stuff and some variables
*/

@font-face {
  font-family: "IM FELL English (hosted)";
  src: local('IM FELL English Roman'), url("./fonts/im-fell-english-roman.ttf");
  font-display: block;
}

@font-face {
  font-family: "IM FELL English (hosted)";
  src: local('IM FELL English Italic'), url("./fonts/im-fell-english-italic.ttf");
  font-display: block;
  font-style: italic;
}

:root {
  /* Variables - colors palette */
  --c-vulcan: hsl(230deg 30% 10%);
  --c-link-water: hsl(230deg 40% 90%);
  --c-purpureus: hsl(280deg 40% 50%);
  --c-light-wisteria: hsl(270deg 42% 75%);
  --c-logan: hsl(255deg 29% 72%);
  --c-careys-pink: hsl(340deg 42% 75%);
  --c-pigeon: hsl(190deg 29% 72%);
  --c-lilac: hsl(300deg 29% 72%);
  --c-rum: hsl(269deg 18% 43%); /* this is logo color from logo illustrator file, but it doesn't work well */

  /* Variables - sizes (on smaller devices) */
  --size-sm: calc(0.5rem * 0.75);
  --size-md: calc(1rem * 0.75);
  --size-lg: calc(2rem * 0.75);

  /* Variables - agnostic theme colors */
  --theme-shadow: hsl(from var(--c-vulcan) h calc(s * 2) calc(l * 0.5) / 40%);

  /* Variables - Light Mode theme colors */
  --theme-bg: var(--c-link-water);
  --theme-text: var(--c-vulcan);
  --theme-accent: var(--c-purpureus);
  --theme-bg-secondary: hsl(from var(--c-logan) h s calc(l * 1.15));
  --theme-bg-tertiary: hsl(from var(--c-careys-pink) h s calc(l * 1.15));
  --theme-bg-quaternary: hsl(from var(--c-pigeon) h s calc(l * 1.15));
  --theme-bg-quinary: hsl(from var(--c-lilac) h s calc(l * 1.15));

  /* Variables - misc */
  --max-content-width: 44rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Variables - Dark Mode theme colors */
    --theme-bg: var(--c-vulcan);
    --theme-text: var(--c-link-water);
    --theme-accent: var(--c-light-wisteria);
    --theme-bg-secondary: hsl(from var(--c-logan) h calc(s * 0.66) calc(l * 0.33));
    --theme-bg-tertiary: hsl(from var(--c-careys-pink) h calc(s * 0.66) calc(l * 0.33));
    --theme-bg-quaternary: hsl(from var(--c-pigeon) h calc(s * 0.66) calc(l * 0.33));
    --theme-bg-quinary: hsl(from var(--c-lilac) h calc(s * 0.66) calc(l * 0.33));
  }
}

/* Instead of using regular @media for resizing specific selectors, we change the variables (magic!). */
@media (width >= 1000px) {
  :root {
    /* Variables - sizes (on bigger devices) */
    --size-sm: 0.5rem;
    --size-md: 1rem;
    --size-lg: 2rem;
  }
}

html {
  color: var(--theme-text);
  font-size: 24px;
  line-height: 1.5rem;
  font-family: "IM FELL English (hosted)", "Sono", "Hepta Slab", serif;
  min-width: 100%;
  min-height: 100%;
  color-scheme: light dark;
  background-color: var(--theme-bg);
  background-image:
    radial-gradient(circle at 48% 44%, var(--theme-bg-secondary) 4%, transparent 56%),
    radial-gradient(circle at 92% 92%, var(--theme-bg-quaternary) 12%, transparent 74%),
    radial-gradient(circle at 84% 20%, var(--theme-bg-tertiary) 16%, transparent 84%),
    radial-gradient(circle at 8% 16%, var(--theme-bg-secondary) 12%, transparent 76%),
    radial-gradient(circle at 12% 76%, var(--theme-bg-quinary) 16%, transparent 80%);
}

/*
Resets and base groundwork
*/

* {
  box-sizing: border-box;
  margin: 0;
}

:focus {
  outline: 0;
}

:focus-visible {
  outline: 0.25rem solid var(--theme-accent);
}

a {
  color: inherit;
  text-decoration-line: none;
  text-decoration-thickness: 1px;

  /* For focus styles */
  border-radius: 2px;
}

p a {
  text-decoration-line: underline;
  text-decoration-style: solid;

}

a:hover {
  text-decoration-line: underline;
  text-decoration-style: wavy;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 2px;
  box-shadow: 1px 1px 1px var(--theme-shadow);
}

p:not(:last-child) {
  margin-bottom: var(--size-md);
}

h1 {
  font-size: 2rem;
  font-weight: 400;
  line-height: calc(2rem * 1.1);
}

h2 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: calc(1.5rem * 1.1);
}

/*
Main layout
*/

body {
  padding: var(--size-lg);
  height: 100%;
}

[am-mainHeader] {
  margin-bottom: var(--size-lg);
}

[am-main] {
  margin-top: var(--size-lg);
  margin-bottom: var(--size-lg);
}

[am-mainFooter] {
  color: var(--theme-accent);
  margin-top: var(--size-lg);
  font-size: 0.8rem;
}

[am-mainCentered] {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-content-width);
  width: 100%;
}

/*
AMCSS Components
*/

/* intro */

[am-intro] {
  margin-bottom: var(--size-lg);
}

/* logo */

a[am-logo] {
  display: inline-block;
  color: var(--theme-accent);
  vertical-align: top;
}

a[am-logo]:hover {
  color: var(--theme-text);
}

a[am-logo] svg {
  fill: currentcolor;
  height: 4rem;
  display: block;
}

/* imageLink */

[am-imageLink] {
  display: inline-block;
  vertical-align: top;
}

[am-imageLink-image] {
  display: block;
}

/* imageList */

[am-imageList] {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
}

[am-imageList~="small"] {
  gap: var(--size-sm);
}

[am-imageList~="medium"] {
  gap: var(--size-md);
}

[am-imageList-item],
[am-imageList-link],
[am-imageList-image] {
  display: block;
}

[am-imageList-link]:hover {
  outline: 2px solid var(--theme-accent);
  overflow: hidden;
}

/* category */

[am-category]:not(:last-of-type) {
  margin-bottom: var(--size-lg);
}

[am-category-header] {
  margin-bottom: var(--size-sm);
}

/* breadcrumbs */

[am-breadcrumbs] {
  margin-bottom: var(--size-lg);
}

[am-breadcrumbs-active] {
  font-style: italic;
  color: var(--theme-accent);
}

/* secretLink */

[am-secretLink] {
  transition: opacity 0.25s;
  transition-delay: 0.25s;
  opacity: 0;
}

[am-secretLink]:hover {
  opacity: 1;
}

/* shareButton */

[am-shareButton] {
  display: block;
  width: 1rem;
  height: 1rem;
  background: transparent;
  border: none;
  color: var(--theme-accent);
  margin: 0;
  padding: 0;
  cursor: pointer;
}

[am-shareButton]:hover {
  color: var(--theme-text);
}
