{# Wanted to use proper nav.ol.li, but it's easier to have these wrap on smaller screens #}
<nav am-breadcrumbs>
  <a {% if not params.category and not params.image %}am-breadcrumbs-active{%endif%} href="/">Zefir Efemera's Drawings</a>

  {% if params.category %}
  /
  <a {% if params.category and not params.image %}am-breadcrumbs-active{%endif%}
    href="/{{ params.category.slug }}">{{ params.category.title }}</a>
  {% endif %}

  {% if params.image %}
  /
  <a {% if params.category and params.image %}am-breadcrumbs-active{%endif%}
    href="/{{ params.image.category.slug }}/{{ params.image.slug }}.html">{{ params.image.title }}</a>
  {% endif %}
</nav>
