<ul am-imageList="{{params.size}}">
  {% for image in params.images %}
  <li am-imageList-item>
    <a am-imageList-link href="/{{ image.category.slug }}/{{ image.slug }}.html">
      <img am-imageList-image src="/{{ image[params.size] }}" alt="{{ image.title }}">
    </a>
  </li>
  {% endfor %}
</ul>
