<script type="text/javascript">
  (function() {
    // Config
    const NSFW_STORAGE_KEY = 'shouldNsfwContentBeDisplayed'
    const CLASS_NAME_NSFW_ALLOWED = 'nsfw-allowed'
    const CLASS_NAME_NSFW_PROHIBITED = 'nsfw-prohibited'

    function applyBodyClassName(isNsfwAllowed) {
      console.log('applyBodyClassName', isNsfwAllowed)
      if (isNsfwAllowed) {
        document.body.classList.add(CLASS_NAME_NSFW_ALLOWED)
        document.body.classList.remove(CLASS_NAME_NSFW_PROHIBITED)
      } else {
        document.body.classList.remove(CLASS_NAME_NSFW_ALLOWED)
        document.body.classList.add(CLASS_NAME_NSFW_PROHIBITED)
      }
    }

    function confirmNsfwContent() {
      const result = confirm('Want to see NSFW content?')
      sessionStorage.setItem(NSFW_STORAGE_KEY, result)
      applyBodyClassName(result === true)
    }
    // Make it accessible by the trigger
    window.confirmNsfwContent = confirmNsfwContent

    function checkSessionStorage() {
      const value = sessionStorage.getItem(NSFW_STORAGE_KEY)
      if (value !== null) {
        applyBodyClassName(value === 'true')
      } else {
        confirmNsfwContent()
      }
    }

    // Initialize
    checkSessionStorage()
  })()
</script>
