<script type="text/javascript">
  (function () {
    // Config
    // ============================

    const NSFW_STORAGE_KEY = 'shouldNsfwContentBeDisplayed'
    const CLASS_NAME_NSFW_ALLOWED = 'nsfw-allowed'
    const CLASS_NAME_NSFW_PROHIBITED = 'nsfw-prohibited'
    const CONFIRM_MESSAGE = 'Want to see NSFW content?\n\nHint: click "NSFW" to see this question again.'

    // Functions
    // ============================

    function applyBodyClassName(isNsfwAllowed) {
      if (isNsfwAllowed) {
        document.body.classList.add(CLASS_NAME_NSFW_ALLOWED)
        document.body.classList.remove(CLASS_NAME_NSFW_PROHIBITED)
      } else {
        document.body.classList.remove(CLASS_NAME_NSFW_ALLOWED)
        document.body.classList.add(CLASS_NAME_NSFW_PROHIBITED)
      }
    }

    function confirmNsfwContent() {
      const result = confirm(CONFIRM_MESSAGE)
      localStorage.setItem(NSFW_STORAGE_KEY, result)
      applyBodyClassName(result === true)
    }

    function checkStorage() {
      const value = localStorage.getItem(NSFW_STORAGE_KEY)
      if (value !== null) {
        applyBodyClassName(value === 'true')
      } else {
        confirmNsfwContent()
      }
    }

    // Initialize
    // ============================

    // Make it accessible outside IFEE
    window.confirmNsfwContent = confirmNsfwContent
    checkStorage()
  })()
</script>
