<script>
  const shareImageAsset = async (imageUrl, pageUrl, title) => {
    const response = await fetch(imageUrl.toString());
    const blob = await response.blob();

    const filesArray = [
      new File([blob], imageUrl, {
        type: 'image/jpeg',
        lastModified: new Date().getTime(),
      }),
    ];
    const shareData = {
      title: title,
      url: pageUrl,
      files: filesArray,
    };

    console.info('shareImageAsset final data:', shareData);

    if (navigator.canShare && navigator.canShare(shareData)) {
      await navigator.share(shareData);
    }
  };
</script>

<button onclick="shareImageAsset('{{ params.imageUrl }}', '{{ params.pageUrl }}', '{{ params.title }}')">share</button>
